.Units {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.Units ul {
    padding: 0;
}

.Units ul li {
    list-style-type: none;
}